<h1>Listing rentals</h1>

<table>
  <tr>
    <th>Mode</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rentals.each do |rental| %>
  <tr>
    <td><%= rental.mode %></td>
    <td><%= rental.start_date %></td>
    <td><%= rental.end_date %></td>
    <td><%= link_to 'Show', rental %></td>
    <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
    <td><%= link_to 'Destroy', rental, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rental', new_rental_path %>
