<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Realtor - <%= controller.action_name %></title>
    <%# stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'screen' %>
    <%= stylesheet_link_tag 'custom_styles' %>
    <%# stylesheet_link_tag 'print' %>
    <%# stylesheet_link_tag 'ie' %>
    <%# stylesheet_link_tag 'style' %>
    <%= javascript_include_tag :defaults %>
    <%# javascript_include_tag 'json_support' %>
  </head>
  <body>
    <div class="container">
      <%= render :partial => 'common/header' %>

      <div id="content">
        <%= yield %>
      </div>

      <%= render :partial => 'common/footer' %>
      <%= yield :js_content %>
      <br />
    </div>
      <%= debug(params) if Rails.env.development? %>
  </body>
</html>
